@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Alice", serif;
}

.mainBg {
  background: linear-gradient(158deg, #3895c9 0%, rgba(59, 38, 123, 0.7) 52.4%);
}

.mainBgImg {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("/src/assets/mainBg.png");
}

.title_divider {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    #fff 22.27%,
    rgba(255, 255, 255, 0) 42.4%
  );
  background-blend-mode: OVERLAY;
  box-shadow: 0px 1.2377547025680542px 0px 0px rgba(0, 0, 0, 0.2);
  width: 42.20013rem;
  height: 0.23206rem;
}

.card {
  border-radius: 20px;
  border: 1px solid #8d8d8d;
  background: rgba(217, 217, 217, 0.08);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  min-width: 7rem;
  text-align: center;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
